:host {
  position: relative;
}

mat-form-field {
  width: 100%;
}

.hint-box {
  display: flex;
  align-items: center;
  padding: 4px 0;

  .hint {
    white-space: pre-line;
    flex-grow: 1;
    padding: 4px 0;
    color: darkgray;
    line-height: 1.1em;
  }
}

.actions {
  display: flex;
  gap: 0.75rem;
  padding: 6px 0 10px;
  flex-wrap: wrap;
}

.textContent:read-only {
  color: #666666;
  opacity: 1;
  cursor: not-allowed;
}

.addresSearch {
  display: flex;
  padding: 5px 0;

  .title {
    margin-right: 10px;
    font-size: 1rem;
    padding: 5px 0;
  }

  input {
    flex-grow: 1;
    box-sizing: border-box;
  }
}

.spacer {
  margin-bottom: 1.5em;
}

.linkedText {
  &.addresSearch {
    display: block;
    position: absolute;
    padding: 0;

    .title {
      display: none;
    }

    input {
      width: 300px;
      border: none;
      padding: 0;
      font-weight: bold;
    }

    input:focus {
      outline: none;
    }
  }
}
