.changeset-container {
  padding: 0 20px;
}

.highlightAll {
  vertical-align: middle;
}
.highlightAll.selected {
  background: yellow;
}

.highlightAllPreview.activePreview,
th.activePreview {
  background: yellow;
}

table .selected {
  background: lightgreen;
}

.conflict {
  background: lightcoral;
}

.value {
  cursor: pointer;
}

.nv {
  background: lightgray;
}

.missing {
  position: relative;
  background:
    linear-gradient(to bottom right, transparent 0, transparent 45%, red 50%, transparent 55%, transparent 100%),
    linear-gradient(to top right, transparent 0, transparent 45%, red 50%, transparent 55%, transparent 100%);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}
.description {
  margin-bottom: 15px;
}

.sub-title {
  font-weight: bold;
}

.merge-button {
  margin-top: 15px;
}

.conflict-element {
  display: flex;
  gap: 10px;
}

.signature-icon {
  align-self: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.elem-title {
  flex-grow: 1;
  align-self: center;
}

.merge-element {
  margin-top: 15px;
  border-top: 1px solid black;
}

.conflicts-only {
  margin: 15px 0;
}
