.action-current {
  padding: 1rem;
}

.history-element {
  padding: 0.5rem 1rem;
}

.history-button {
  width: 100%;
}

.changeset {
  display: flex;
  align-items: center;
}

.changeset-descriptions {
  flex-grow: 1;
}
