.mat-option {
  font-size: 0.7em;
}

mat-optgroup {
  cursor: pointer;
}

.hasMore {
  cursor: pointer;
  text-align: center;
}

/* invisible element to prevent autocomplete is closed/hidden if there are only mat-optgroups */
.dummyOption {
  display: none;
}
