:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

.journal-main {
  padding: 1.25rem;
}

.journal-header {
  border-right-color: var(--mat-sidenav-container-divider-color, transparent);
  border-right-width: 1px;
  border-right-style: solid;
  position: sticky;
  padding: 10px;
  background: white;
}

.journal-header h1 {
  margin-bottom: 0;
}

.journal-sidebar {
  width: 50rem;
  max-width: 75%;
}

.fab-button {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
}

.journal-content {
  padding-bottom: 100px;
  overflow-x: auto;

  @media (max-width: 600px) {
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
}

.journal-table-row {
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}

.journal-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1.5rem;
    align-items: start;
    justify-content: center;
  }
}

.journal-filter-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0;
    align-items: start;
    width: 100%;
  }
}

.journal-filter-search,
.journal-filter-department {
  width: 20rem;
  margin-top: 22px;

  @media (max-width: 1200px) {
    width: 18rem;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.journal-filter-buttons {
  @media (max-width: 600px) {
    gap: 22px;
  }
}

tr.key-message {
  background-color: #ffeeee;
}

tr.journal-table-row.key-message:hover {
  background-color: #d5c4c4;
}

.journal-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.journal-table-message-cell {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
