:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

.journal-header {
  border-right-color: var(--mat-sidenav-container-divider-color, transparent);
  border-right-width: 1px;
  border-right-style: solid;
  position: sticky;
  padding: 10px;
}

.journal-header h1 {
  margin-bottom: 0;
}

.journal-sidebar {
  width: 50em;
  max-width: 75%;
  padding: 1em;
}

.fab-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.journal-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 100px;
}

.journal-table-wrapper {
  height: 100%;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

.journal-table-row {
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header h1 {
  margin-bottom: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.journal-entry-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;

  > * {
    margin: 0;
  }
}

.journal-entry-save-buttons {
  display: flex;
  justify-content: end;
  gap: 6px
}

.journal-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 22px;
    align-items: start;
    justify-content: center;
  }
}

.journal-filter-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.journal-filter-search,
.journal-filter-department {
  width: 20em;
  margin-top: 22px;
}
