mat-form-field {
  width: 100%;
  --mdc-outlined-text-field-container-shape: 28px !important;
  background-color: white;
  border-radius: 28px;
  pointer-events: auto;
  overflow: hidden;
}

mat-icon.settings {
  padding: 0;
}
mat-icon.settings.active {
  color: #3f51b5;
}

.overlay-container {
  position: relative;
  background: white;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay-arrow {
  position: absolute;
  top: -10px;
  left: 1rem;
}

.arrow-shape {
  fill: white;
  stroke: #ccc;
  stroke-width: 1;
  stroke-dasharray: 15, 20; /* removes bottom line */
}

.overlay-content {
  mat-icon {
    vertical-align: middle;
  }
  mat-form-field,
  button {
    margin-left: 64px;
    max-width: calc(100% - 64px);
  }
}
