/*
 * Copyright © 2018-2020 ZSO Bern Plus / PCi Fribourg
 *
 * This file is part of Zivilschutzkarte 2.
 *
 * Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License along with
 * Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 */


#history {
    position: absolute;
    bottom: 0;
    background-color: white;
    right:0;
}

.selector{
    height: 20em;
    overflow: auto;
}


.event {
    margin-top: 1em;
    line-height: 1.5em;
    margin-left:2em;
    margin-bottom: 1em;
    border: 0;
    cursor: pointer;
}

.selected{
    background: rgba(198, 198, 198, 0.3);
}

.loader{
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    text-align: center;
    background: rgba(90, 90, 90, 0.4);

}
.loader mat-progress-spinner{
    margin:2em auto;
}

.date{
    font-style: italic;
}

.tag{
    font-weight: bold;
    margin-left: 3em;
    margin-right: 3em;
}



.timeline .endSpacer{
    /*padding-top: 7.5em;*/
    padding-top: 16.25em;
}
.indicator{
    position:absolute;
    /*top: 8.75em;*/
    display:block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: rgba(198, 198, 198, 0.3);
}

.hidden{
    visibility: hidden;
}

.tag i{
    margin-left: 1em;
    margin-right: 1em;
}

.indicator i, .tag i{
    font-size: 1em;
    line-height: 1.5em;

}

.filter{
    margin-bottom: 1em;
}

.buttons{
    text-align:center;
}