node_modules
.cache
.angular
Dockerfile
.azure
.github
.dockerignore
.git
.editorconfig
.strapi-updater.json
.env
build
data
docker-compose.yml
test
dist
packages/server/public/uploads/*
packages/app
