node_modules
.cache
.angular
Dockerfile
.azure
.github
.dockerignore
.git
.editorconfig
.env
.env.*
!.env.example
data
docker-compose.yml
dist
packages/app/*
!packages/app/package.json
packages/server/public/uploads/*
!packages/server/public/uploads/.gitkeep
