.clock {
  display: inline-block;
}

.time {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
}
.date {
  font-style: italic;
}

div {
  display: inline-block;
  text-align: center;
}

.flexContainer {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.timeLeft {
  color: red;
}
.timeLeft strong {
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
}
