.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  pointer-events:none;
  user-select: none;  
  margin-left: 1em;
  margin-top: -10px;
}

#removePoint,
#rotateSymbol {
  position: absolute;
  z-index: 200000;
  transform: translateX(-50%) translateY(-50%);
}

.closeBox {
  background: yellow;
}

.coordinates {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  user-select: text;
}
.coordinates .material-icons {
  user-select: none;
  margin-left: 5px;
  transform: scale(-1, 1);
}
