#status {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5em;
  background-color: #ffffff;
  text-align: center;
}

#removePoint {
  position: absolute;
  z-index: 200000;
}

.closeBox {
  background: yellow;
}

.coordinates {
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  right: 0;
}
