<div
  class="tooltip noprint"
  [style.left.px]="mousePosition[0]"
  [style.top.px]="mousePosition[1]"
  *ngIf="sketch && this.currentDrawingSign.size"
  [innerHTML]="this.currentDrawingSign.size"
></div>
<button mat-button id="removePoint" mat-mini-fab color="warn">
  <i class="material-icons">delete_forever</i>
</button>

<button mat-button id="rotateSymbol" mat-mini-fab color="primary">
  <i class="material-icons">rotate_left</i>
</button>
<div class="mat-button coordinates">
  <div class="mat-button-wrapper">
    <span *ngIf="!selectedFeature">
      <ng-container>{{
        availableProjections[selectedProjectionIndex].translate(
          mouseCoordinatesProjection
        )
      }}</ng-container>
    </span>
    <span *ngIf="selectedFeature">
      <ng-container>{{
        availableProjections[selectedProjectionIndex].translate(
          selectedFeatureCoordinates
        )
      }}</ng-container>
    </span>
    <i class="material-icons" (click)="rotateProjection()">change_circle</i>
  </div>
</div>
