<div
  class="tooltip noprint"
  [style.left.px]="mousePosition[0]"
  [style.top.px]="mousePosition[1]"
  *ngIf="sketch && this.currentDrawingSign.size"
  [innerHTML]="this.currentDrawingSign.size"
></div>
<button mat-button id="removePoint" mat-mini-fab color="warn">
  <i class="material-icons">delete_forever</i>
</button>

<button mat-button class="coordinates" (click)="rotateProjection()">
  <span *ngIf="!selectedFeature">
    <ng-container
      *ngFor="let coordinate of mouseCoordinatesProjection; let isLast = last"
    >
      {{
        coordinate
          | number: availableProjections[selectedProjectionIndex].format
      }}{{ isLast ? '' : ', ' }}
    </ng-container></span
  >
  <span *ngIf="selectedFeature">
    <ng-container
      *ngFor="let coordinate of selectedFeatureCoordinates; let isLast = last"
    >
      {{
        coordinate
          | number: availableProjections[selectedProjectionIndex].format
      }}{{ isLast ? '' : ', ' }}
    </ng-container></span
  >
</button>
