.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
  margin-left: 1em;
  margin-top: -10px;
}

#removePoint {
  position: absolute;
  z-index: 200000;
}

.closeBox {
  background: yellow;
}

.coordinates {
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  right: 0;
}
