.changeset-details .buttons {
  display: flex;
  gap: 10px;
}
.changeset-original {
  margin-left: auto;
}

.changeset-element {
  display: flex;
  align-items: center;
  gap: 10px;
}

.signature-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.changeset-changes table {
  width: 100%;
}
.changeset-changes th {
  text-align: left;
}

.changeset-changes {
  width: 446px;
  border-bottom: 1px solid darkgray;
  overflow-x: scroll;
}
