.flexContainer {
  display: flex;
  flex-wrap: nowrap;
}

.alignCenter {
  align-items: center;
}

mat-card-title {
  margin-bottom: 0;
}

.spacer {
  flex: 1;
}

.credits {
  align-items: flex-start;
}

.collapsed app-credits {
  height: 2.5em;
}

app-credits {
  height: 4.5em;
  padding: 0;
}

.tools {
  flex: 1;
  margin-left: .5em;
}

.flex-gap {
  display: flex;
  gap: .5em
}

.clock {
  align-items: flex-end;
  font-size: 0.9em;
}

.collapse .credits {
  height: 2.5em;
}

.collapse {
  align-items: flex-end;
  cursor: pointer;
  margin-left: 0.75em;
}

.mat-card-content {
  margin-bottom: 0;
}

.edit {
  font-size: 18px;
  line-height: 20px;
  height: 29px;
}

.toolbar {
  padding: 0.5em;
  border-radius: 0;
}

.collapsed .hideWhenCollapsed {
  display: none;
}

.collapse {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.mat-menu-item {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

@media print {
  .noprint {
    display: none;
  }
}
