<!--
  ~ Copyright © 2018-2020 ZSO Bern Plus / PCi Fribourg
  ~
  ~ This file is part of Zivilschutzkarte 2.
  ~
  ~ Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your option)
  ~ any later version.
  ~
  ~ Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with
  ~ Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<mat-card [class]="collapsed ? 'collapsed toolbar' : 'toolbar'" *ngIf="session">
  <div class="flexContainer">
    <div class="credits">
      <div class="flexContainer" style="flex-direction: column">
        <app-credits></app-credits>
      </div>
    </div>
    <div class="tools">
      <div class="flexContainer">
        <mat-card-title class="title">{{ session.title }}</mat-card-title>
        <div class="spacer"></div>
        <div class="clock">
          <app-clock></app-clock>
        </div>
        <app-language-chooser
          class="noprint hideWhenCollapsed"
        ></app-language-chooser>
        <button
          mat-stroked-button
          size="small"
          color="primary"
          class="noprint hideWhenCollapsed edit"
          [matMenuTriggerFor]="mainMenu"
          *ngIf="!historyMode"
        >
          <i class="material-icons">menu</i>
        </button>
        <div
          class="collapse"
          (click)="collapsed = !collapsed"
          *ngIf="collapsed"
        >
          <i class="material-icons">expand_more</i>
        </div>
      </div>
      <mat-card-content class="flexContainer noprint hideWhenCollapsed">
        <app-geocoder
          style="flex: 1; margin-top: -0.08em"
          [drawLayer]="drawLayer"
        ></app-geocoder>
        <app-drawingtools *ngIf="!historyMode"></app-drawingtools>
        <!--<a class="mat-stroked-button" download="map.jpg"><span class="mat-button-wrapper"><i class="material-icons">photo_camera</i> Screenshot</span></a>-->
        <app-tools [drawLayer]="drawLayer"></app-tools>
        <app-layers></app-layers>
        <mat-slide-toggle
          (toggleChange)="toggleHistory()"
          [checked]="historyMode"
          >{{ i18n.get('history') }}</mat-slide-toggle
        >
        <div
          class="collapse"
          *ngIf="!collapsed"
          (click)="collapsed = !collapsed"
        >
          <i class="material-icons">expand_less</i>
        </div>
      </mat-card-content>

      <mat-menu #mainMenu="matMenu" class="burger-menu">
        <button mat-menu-item (click)="createOrLoadSession()">
          <i class="material-icons">swap_calls</i>
          {{ i18n.get('createOrLoad') }}
        </button>
        <button mat-menu-item (click)="editSession()">
          <i class="material-icons">edit</i> {{ i18n.get('editMap') }}
        </button>
        <button mat-menu-item (click)="exportSession()" *ngIf="exportEnabled">
          <i class="material-icons">save</i> {{ i18n.get('exportSession') }}
        </button>
        <button mat-menu-item (click)="deleteSession()">
          <i class="material-icons">delete</i> {{ i18n.get('deleteMap') }}
        </button>
        <button mat-menu-item (click)="help()">
          <i class="material-icons">help</i> {{ i18n.get('help') }}
        </button>
      </mat-menu>
    </div>
  </div>
  <div
    class="filterWrapper noprint hideWhenCollapsed"
    *ngIf="filterSymbols && filterSymbols.length > 0"
  >
    <div class="fixedFilter">
      {{ i18n.get('filter') }}:
      <button mat-icon-button (click)="filterAll(false)">
        <i class="material-icons">visibility</i>
      </button>
      <button mat-icon-button class="allButton" (click)="filterAll(true)">
        <i class="material-icons">visibility_off</i>
      </button>
    </div>
    <div class="filterButtons">
      <button
        mat-stroked-button
        [class]="
          drawLayer.filters[symbol.origSrc] ? 'active filterItem' : 'filterItem'
        "
        *ngFor="let symbol of filterSymbols"
        (click)="drawLayer.toggleFilter(symbol.origSrc)"
      >
        <img [src]="symbol.src" [title]="symbol.label" />
      </button>
    </div>
  </div>

  <div class="zoom noprint">
    <button mat-icon-button (click)="zoomIn()">
      <i class="material-icons">zoom_in</i>
    </button>
    <button mat-icon-button (click)="zoomOut()">
      <i class="material-icons">zoom_out</i>
    </button>
  </div>
</mat-card>
