/*
 * Copyright © 2018-2020 ZSO Bern Plus / PCi Fribourg
 *
 * This file is part of Zivilschutzkarte 2.
 *
 * Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License along with
 * Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 */

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
}

.alignCenter {
  align-items: center;
}

mat-card-title {
  margin-bottom: 0;
}

.spacer {
  flex: 1;
}

.credits {
  align-items: flex-start;
}

.collapsed app-credits {
  height: 2.5em;
}

app-credits {
  height: 4.5em;
  padding: 0;
}

.tools {
  flex: 1;
  margin-left: .5em;
}

.flex-gap {
  display: flex;
  gap: .5em
}

.clock {
  align-items: flex-end;
  font-size: 0.9em;
}

.collapse .credits {
  height: 2.5em;
}

.collapse {
  align-items: flex-end;
  cursor: pointer;
  margin-left: 0.75em;
}

.mat-card-content {
  margin-bottom: 0;
}

.edit {
  font-size: 18px;
  line-height: 20px;
  height: 29px;
}

.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5em;
}

.filterWrapper {
  display: flex;
  margin-top: 7px;
}

.filterItem {
  display: inline-block;
  overflow: hidden;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.filterItem img {
  max-height: 2em;
  max-width: 2em;
}

.filterItem.active {
  background-color: #d3d3d3;
}

.allButton {
  margin-right: 1em;
}

.filterButtons {
  flex: 1;
  overflow-x: auto;
  white-space: nowrap;
}

.collapsed .hideWhenCollapsed {
  display: none;
}

.zoom {
  position: absolute;
  bottom: -7.5em;
  right: 2em;
}

.zoom .material-icons {
  font-size: 2em;
}

.zoom button {
  background-color: white;
  display: block;
  margin-bottom: 0.5em;
}

.collapse {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.mat-menu-item {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

@media print {
  .noprint {
    display: none;
  }
}

.mat-stroked-button.active {
  background-color: #d3d3d3;
}

