.label {
  text-align: center;
  margin: 0.5em;
  display: flex;
}

.container button {
  display: flex;
  align-items: center;
}

.container img {
  max-height: 1.8em;
  max-width: 1.8em;
  margin-right: 0.5em;
}

.wrapper {
  min-width: 100%;
  display: flex;
  align-items: center;
  margin: 1em;
}

.wrapper img {
  max-height: 2.3em;
  max-width: 2.3em;
}

.wrapper button {
  align-items: center;
  padding: 0.3em;
  min-width: unset;
  line-height: unset;
}


