<div style="position: relative; height: 100%; width: 100%;">
  <div id="map" class="map"></div>
  <div id="maploader" #maploader>
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <!--<div id="mouse-position"></div>-->

  <div class="zoom noprint">
    <button mat-icon-button (click)="zoomIn()">
      <i class="material-icons">zoom_in</i>
    </button>
    <button mat-icon-button (click)="zoomOut()">
      <i class="material-icons">zoom_out</i>
    </button>
    <button mat-icon-button (click)="sharedState.setSidebarContext(SidebarContext.Layers);">
      <i class="material-icons">layers</i>
    </button>
    <button mat-icon-button (click)="sharedState.setSidebarContext(SidebarContext.Filters);">
      <i class="material-icons">filter_alt</i>
    </button>
  </div>
</div>
