<!--
  ~ Copyright © 2018-2020 ZSO Bern Plus / PCi Fribourg
  ~
  ~ This file is part of Zivilschutzkarte 2.
  ~
  ~ Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your option)
  ~ any later version.
  ~
  ~ Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with
  ~ Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<mat-card id="history" *ngIf="showHistory">
    <mat-card-content>
        <mat-checkbox [(ngModel)]="filtered" class="filter">{{i18n.get('filterHistory')}}</mat-checkbox>
        <div class="selector" *ngIf="!loading">
            <div (click)="selectNow()" [ngClass]="selectedDate === 'now' ? 'event selected' : 'event'"><span class="date">{{i18n.get("currentState")}}</span></div>
            <div *ngFor="let historyDate of historyDatesLocale;  index as i"
                 (click)="select(historyDate, i)" [ngClass]="historyDate === selectedDate ? 'event selected' : 'event'">
                <span class="date">{{historyDate}}</span><span class="tag">{{getTag(i)}}<i
                    [title]="i18n.get('removeTag')" class="material-icons" (click)="removeTag(i)" *ngIf="getTag(i)">delete</i></span>
            </div>
        </div>
        <div class="loader" *ngIf="loading">
            <mat-progress-spinner
                    color="primary"
                    mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </mat-card-content>
</mat-card>