.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

mat-card > mat-form-field {
  width: calc(50% - .5rem);
  min-width: 200px;
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: .5rem;
}