.coordinates {
  background: white;
  font-size: 0.85rem;
  padding-left: .7rem;
  border-radius: 1rem;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coords {
  display: flex;
  flex-direction: column;
}
.menu {
  padding-left: 5px;
  cursor: pointer;
}
.switch{
  transform: scale(0.7);
}