<div class="application" [style.height.px]="height">
  <div style="z-index: 10; position: relative">
    <app-toolbar [drawLayer]="drawLayer"></app-toolbar>
  </div>
  <mat-sidenav-container style="flex: 1" [hasBackdrop]="true">
    <mat-sidenav class="sidenav" position="end" mode="side" #sidenav>
      <app-sidebar-root [sidenav]="sidenav">
        <app-sidebar
          [hidden]="
            (sharedState.sidebarContext | async) !== SidebarContext.Layers
          "
        ></app-sidebar>
        <app-sidebar-filters
          [drawLayer]="drawLayer"
          [hidden]="
            (sharedState.sidebarContext | async) !== SidebarContext.Filters
          "
        ></app-sidebar-filters>
      </app-sidebar-root>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-history></app-history>
      <app-map #map style="height: 100%; width: 100%; display: block"></app-map>
      <app-drawlayer [inputMap]="map.map" #drawLayer></app-drawlayer>
      <app-selected-feature [drawLayer]="drawLayer"></app-selected-feature>
      <app-fab-menu></app-fab-menu>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
