.content-container {
  max-height: 70vh;
  overflow-y: auto;
  margin-bottom: 2rem;
  gap: 1rem;
  margin-bottom: 2rem;
  max-height: 70vh;
  overflow-y: auto;
}

.sectionTitle {
  font-size: 1em;
  font-weight: bold;
  margin-top: 5px;
}

h2 {
  margin-bottom: 0.5rem;
}

.buttonMargin {
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

.availableSources,
.favoriteLayers,
.selectedLayers,
.availableLayers {
  border: solid 1px var(--mdc-outlined-button-outline-color, var(--mat-sys-outline));
  border-radius: 1rem;
  max-height: 10rem;
  overflow-y: auto;
}

.sourceControl mat-form-field {
  margin-bottom: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  button {
    margin: 0;
  }
}
