<!--
  ~ Copyright © 2018-2020 ZSO Bern Plus / PCi Fribourg
  ~
  ~ This file is part of Zivilschutzkarte 2.
  ~
  ~ Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your option)
  ~ any later version.
  ~
  ~ Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with
  ~ Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<span class="tools">
  <button mat-stroked-button [matMenuTriggerFor]="mapMenu"><i class="material-icons">photo</i> {{historyMode ? i18n.get("drawing") : i18n.get("currentDrawing")}}</button>
<mat-menu #mapMenu="matMenu">
  <button mat-menu-item (click)="importData()" *ngIf="!historyMode"><i class="material-icons">open_in_browser</i> {{i18n.get("import")}}</button>
  <a mat-menu-item [download]="getDownloadFileName()" id="export" (click)="download()" [href]="downloadData"><i class="material-icons">save</i> {{i18n.get("download")}}</a>
  <button mat-menu-item (click)="tagState()" *ngIf="!historyMode"><i class="material-icons">note</i><span> {{i18n.get("tagState")}}</span></button>
    <button mat-menu-item (click)="print()" *ngIf="!historyMode"><i class="material-icons">local_printshop</i><span> {{i18n.get("print")}}</span></button>
  <button mat-menu-item (click)="clear()" *ngIf="!historyMode"><i class="material-icons" >delete</i> {{i18n.get("delete")}}</button>
</mat-menu>

</span>
