<!--
  ~ Copyright © 2018-2020 ZSO Bern Plus / PCi Fribourg
  ~
  ~ This file is part of Zivilschutzkarte 2.
  ~
  ~ Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your option)
  ~ any later version.
  ~
  ~ Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with
  ~ Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<div mat-dialog-content>
    <input *ngIf="!processedImage && !loading" id="importSymbol" type="file" accept=".gif,.png,.jpg,.jpeg,.svg" #importSymbol
           (change)="readFromFile()">
    <mat-progress-spinner *ngIf="loading"
                          color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
    <img [src]="image" style="display: none;" #imageLoader (load)="processImage()"/>
    <div *ngIf="processedImage && !loading" class="selection">
        <div class="imageWrapper">
            <img [src]="processedImage" #imageProcessor/></div>
        <form #defineSymbol="ngForm">

            <mat-form-field>
                <mat-label>{{i18n.get("type")}}:</mat-label>
                <select name="type" matNativeControl [(ngModel)]="sign.type" required>
                    <option value="Point">{{i18n.get("point")}}</option>
                    <option value="LineString">{{i18n.get("line")}}</option>
                    <option value="Polygon">{{i18n.get("polygon")}}</option>
                </select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{i18n.get("german")}}:</mat-label>
                <input matInput type="text" name="de" [(ngModel)]="sign.de" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{i18n.get("french")}}:</mat-label>
                <input matInput type="text" name="fr" [(ngModel)]="sign.fr" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{i18n.get("english")}}:</mat-label>
                <input matInput type="text" name="en" [(ngModel)]="sign.en" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{i18n.get("color")}}:</mat-label>
                <input matInput type="color" name="color" [(ngModel)]="sign.color"/>
            </mat-form-field>
            <div *ngIf="originalImage"><mat-checkbox name="keepOriginal" [(ngModel)]="keepOriginal">{{i18n.get("keepOriginal")}}</mat-checkbox></div>
            <div *ngIf="keepOriginal" class="warning">{{i18n.get("keepOriginalWarning")}}</div>
            <div>
            <mat-checkbox name="share" [(ngModel)]="shareWithOthers">{{i18n.get("shareWithOtherMaps")}}</mat-checkbox>
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">{{i18n.get("cancel")}}</button>
    <button mat-raised-button color="primary" (click)="add()"><i class="material-icons">save</i> {{i18n.get("save")}}</button>
</div>