.mat-option {
  font-size: 0.7em;
}

mat-form-field {
  flex-grow: 10;
}

.currentLocation {
  display: flex;
  align-items: center;
  line-height: 1.5em;
}

.currentLocation img {
  height: 1.5em;
  margin-right: 1em;
}

.geocoder {
  height: 3em;
  display: flex;
}
