.mat-option {
  font-size: 0.7em;
}

mat-form-field {
  flex-grow: 5;
}

.currentLocation {
  display: flex;
  align-items: center;
  line-height: 1.5em;
}

.currentLocation img {
  height: 1.5em;
  margin-right: 1em;
}

.geocoder {
  height: 3em;
  display: flex;
}

.currentLocationLabel{
  font-size: 12px;
  white-space:nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
}

.alignCenter{
  display: flex;
  align-items: center;
}
