.flex-container-connection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.flex-container-connection-label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;

  mat-icon {
    flex-shrink: 0;
  }
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.label-span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.connections-container {
  margin-left: 20px;
  margin-right: 20px;
}

.offline-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.local-container {
  padding: 1rem 1rem 0 1rem;
}

.offline-container > .mat-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
}

mat-list mat-list-item {
  padding: 0;
}

mat-form-field {
  width: 100%;
}

.font-semibold {
  font-weight: 500;
}
.font-gray {
  color: #8c8c8c;
}

.flex-label {
  padding: 0 1rem !important;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  border: 0;
  height: 1px;
  background: rgb(228, 217, 217);
  background-image: linear-gradient(
    to right,
    rgba(228, 217, 217, 0),
    rgba(228, 217, 217, 0.75),
    rgba(228, 217, 217, 0)
  );
  margin-top: 20px;
  margin-bottom: 20px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-container.active {
  cursor: inherit;
}

.checkbox-label {
  margin-left: 4px;
}

.checkbox-container.active .checkbox-label {
  color: var(--mat-checkbox-disabled-label-color);
}

mat-spinner {
  margin: 10px;
}
